<html lang="en">
<head><title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet" type="text/css">
    <style>#outlook a {
        padding: 0
    }

    .ExternalClass, .ReadMsgBody {
        width: 100%
    }

    .ExternalClass, .ExternalClass div, .ExternalClass font, .ExternalClass p, .ExternalClass span, .ExternalClass td {
        line-height: 100%
    }

    div[style*="margin: 14px 0;"], div[style*="margin: 16px 0;"] {
        margin: 0 !important
    }

    img {
        object-fit: cover
    }

    * {
        word-break: break-all
    }</style>
</head>
<body>
<div style="background-color:#fff;font-family:Inter,sans-serif;font-size:16px;line-height:1.5;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:20px 0;max-width:532px;padding:0 12px">
    <hr style="margin:0 0 22px;height:1px;box-sizing:border-box;background:#e8e8e9;border:1px solid #e8e8e9">
    <table style="border-collapse:collapse;border-spacing:0;display:block;margin-bottom:16px" border="0" cellpadding="0"
           cellspacing="0" role="presentation">
        <tbody>
        <tr>
            <td valign="top" align="left">
                <table style="border-collapse:collapse;border-spacing:0" border="0" cellpadding="0" cellspacing="0"
                       role="presentation">
                    <tbody>
                    <tr>
                        <td style="width:48px;height:48px;display:inline-block">
                            <img width="48" height="48"
                                 style="border-radius:50%;object-fit:cover;background:#d9d9d9"
                                 src="{{img}}"
                                 alt="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td valign="middle" style="vertical-align:middle">
                <table style="border-collapse:collapse;border-spacing:0;padding-left:16px;display:block" border="0"
                       cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td style="font-style:normal;font-weight:600;font-size:14px;line-height:125%;color:#171521;margin-bottom:3px">
                            {{name}}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-style:normal;font-weight:400;font-size:10px;line-height:125%;color:#74737a">
                            {{job}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;display:block;margin-bottom:16px" border="0" cellpadding="0"
           cellspacing="0" role="presentation">
        <tbody>
        <!--{if tel-->
        <tr style="display:block">
            <td valign="middle" style="vertical-align:middle">
                <table style="border-collapse:collapse;border-spacing:0;float:left;height:24px" border="0"
                       cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0" border="0" cellpadding="0"
                                   cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td style="height:16px;display:block"><img
                                            style="display:block;width:16px;height:16px"
                                            src="https://flawless.group/images-main/img/Call.png" alt=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="border-collapse:collapse;border-spacing:0;float:left" border="0" cellpadding="0"
                       cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0;height:16px" border="0"
                                   cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td valign="middle"><a href="tel:+{{tel}}" style="text-decoration:none"><font
                                            style="padding-left:8px;font-style:normal;font-weight:400;font-size:10px;line-height:130%;color:#171521;vertical-align:middle">+{{tel}}</font></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!--end if tel}-->
        <tr style="display:block;margin-top:0">
            <td valign="middle" style="vertical-align:middle">
                <table style="border-collapse:collapse;border-spacing:0;float:left;height:24px" border="0"
                       cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0" border="0" cellpadding="0"
                                   cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td style="height:16px;display:block"><img
                                            style="display:block;width:16px;height:16px"
                                            src="https://flawless.group/images-main/img/Message.png" alt=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="border-collapse:collapse;border-spacing:0;float:left" border="0" cellpadding="0"
                       cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0;height:16px" border="0"
                                   cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td valign="middle"><a href="mailto:{{mail}}"
                                                           style="text-decoration:none"><font
                                            style="padding-left:8px;font-style:normal;font-weight:400;font-size:10px;line-height:130%;text-decoration-line:none;color:#171521">{{mail}}</font></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="display:block;margin-top:0">
            <td valign="middle" style="vertical-align:middle">
                <table style="border-collapse:collapse;border-spacing:0;float:left;height:24px" border="0"
                       cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0" border="0" cellpadding="0"
                                   cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td style="height:16px;display:block"><img
                                            style="display:block;width:16px;height:16px"
                                            src="https://flawless.group/images-main/img/Location.png" alt=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="border-collapse:collapse;border-spacing:0;float:left" border="0" cellpadding="0"
                       cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0;height:16px" border="0"
                                   cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td valign="middle"><font
                                            style="padding-left:8px;font-style:normal;font-weight:400;font-size:10px;line-height:130%;color:#171521;vertical-align:middle">Tallinn,
                                        Estonia</font></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;background:#ecf8ff;border-radius:12px;margin-top:16px;width:100%"
           border="0" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
        <tr>
            <td>
                <table style="border-collapse:collapse;border-spacing:0;margin:16px 0;width:100%" border="0"
                       cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0" border="0" cellpadding="0"
                                   cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;border-spacing:0;margin-left:12px"
                                               border="0" cellpadding="0" cellspacing="0" role="presentation">
                                            <tbody>
                                            <tr>
                                                <td style="width:36px;height:36px;border-radius:50%;background-color:#fff">
                                                    <table style="border-collapse:collapse;border-spacing:0;margin:0 auto"
                                                           border="0" cellpadding="0" cellspacing="0"
                                                           role="presentation">
                                                        <tbody>
                                                        <tr>
                                                            <td><a style="display:block;width:24px;height:24px"
                                                                   href="https://www.facebook.com/flawlessmlm"><img
                                                                    style="display:block;width:24px;height:24px"
                                                                    src="https://flawless.group/images-main/img/facebook%202.png"
                                                                    alt=""></a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <!--{if telegram-->
                                        <table style="border-collapse:collapse;border-spacing:0;margin-left:8px"
                                               border="0" cellpadding="0" cellspacing="0" role="presentation">
                                            <tbody>
                                            <tr>
                                                <td style="width:36px;height:36px;border-radius:50%;background-color:#fff">
                                                    <table style="border-collapse:collapse;border-spacing:0;margin:0 auto"
                                                           border="0" cellpadding="0" cellspacing="0"
                                                           role="presentation">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a style="display:block;width:24px;height:24px"
                                                                   href="{{telegram}}">
                                                                    <img
                                                                            style="display:block;width:24px;height:24px"
                                                                            src="https://flawless.group/images-main/img/telegram%201.png"
                                                                            alt="">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--end if telegram}-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table style="border-collapse:collapse;border-spacing:0;float:right" border="0"
                                   cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;border-spacing:0;margin:0 auto"
                                               border="0" cellpadding="0" cellspacing="0" role="presentation">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <a style="display:block;width:140px;height:27.28px;margin-right:12px"
                                                       href="https://flawless.group"><img width="140" height="27.28"
                                                                                          style="display:block"
                                                                                          src="https://flawless.group/images-main/img/logo.png"
                                                                                          alt=""></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>